 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  width: 300px;
  background-color: #fff;
  padding: 30px 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.login-container input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.forgot-password {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
  color: #20c997;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #20c997;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #17b38a;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.signup-text a {
  color: #20c997;
  text-decoration: none;
  font-weight: 500;
}
